body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    font-family: Helvetica, Arial, sans-serif;
    animation: fade-in 10s;
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#welcome-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#welcome-text {
    font-family: 'Roboto', sans-serif;
    animation: fade-in 1s ease-in-out;
}

#hospital-name-input {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 300px;
}

#enter-button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
